// Global Foundation Settings
@import "foundationSettings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Foundation Imports
@import "foundation/components/global"; // *always required
@import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
@import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
@import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
@import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
@import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

// VoltaicIdeas Imports
$set: 'pelican-red';
@import "voltaicideas/pelican-red/icons"; // icon fonts

@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";

html{ height: 100%; }
body{ height: 100%; }

//// Topbar fixes and media queries

// Fix topbar .hover issue
.top-bar {
    margin-bottom: 0;
    #searchInput {
        width: 100%;
    } 
}
.top-bar-section ul li.hover > a { background: $topbar-link-bg-hover; color: $topbar-link-color-hover; }
@media #{$topbar-media-query} {
    .top-bar{
        @include box-shadow( 0 2px 2px rgba( 50, 50, 50, 0.4 ) );
        .dropdown{
            @include box-shadow( 0 2px 2px rgba( 50, 50, 50, 0.4 ) );
        }
        .name h1 a{
            color: darken( $primary-color, 4% );
            @include text-shadow( 0px 1px 0px rgba( 0, 0, 0, 0.3 ) );
            &:hover {
                color: #fff;
            } 
        }
    }
}

//// Component Styles
.social-area {
    li a:not(.button) {
        padding: 0 10px;
    }
}
#mainFooter {
    font-size: 0.8em;
    .no-bullet {
        margin-left: 0;
    }
}

// Wiki Styling
#mw-content {
    padding: 0 0.6em;
    margin-bottom: 1.25em;
    article {
        background-color: #fff;
        padding: 0.5em 0.5em 0.5em 0.8em;
        @include box-shadow( 0 0 0.5em rgba( 50, 50, 50, 0.4 ) );
        @include border-radius( 2px );
    }
    a{ 
        word-wrap: break-word; 
        &.new {
            color: $alert-color;
        }
    }
    #mw-content-header {
        h1 { 
            border-bottom: 1px solid darken( $secondary-color, 10% ) 
        }
    }
    #mw-content-text {
        #toc {
            margin-left: 1em;
            float: right;
            @extend .columns;
            @extend .large-3;
            font-size: 0.9em;
            #toctitle {
                font-size: 0.8em;
                margin-left: 1em;
                position: relative;
                h2 {border: none;}
                .toctoggle {
                    position: absolute;
                    right: 0;
                    top: 1em;
                }
            }
            
            ul { @extend .no-bullet; margin-left: 1em; }
        }
        .mw-editsection{
            float: right;
            a{
                color: $secondary-color;
                &:hover {
                    color: darken( $secondary-color, 10% );
                }
            }
        }
        h2 { border-bottom: 1px solid darken( $secondary-color, 10% ) }
        pre { 
            background-color: #f5f2f0;
            margin: 0.5em 0;
            padding: 1em;
            overflow: auto;
        }
        
        //History page
        #pagehistory {
            .selected {border: 1px solid darken( $secondary-color, 20% ); background-color: $secondary-color; }
        }
        
        //Edit page
        #editform{
            textarea{
                resize: vertical;
                height: 400px;
            }
        }
    
    }
    #catlinks {
        @include border-radius( 3px );
        @include panel( darken( #fff, 5% ), emCalc( 7px ) );
        margin-bottom: 0;
        ul { 
            display: inline; 
            margin-left: 0.5em;
            li { display: inline-block; margin-right: 0.5em; }
        }
    }
    .catlinks-allhidden{
        display: none;
    }
}
@media #{$small} {
    #content-actions {
        .inline-list {
            li {
                width: auto;
                margin-left: 15px;
                a { color: $primary-color; }
            }
            .selected a{ color: darken( $secondary-color, 10% ); }
        }
    }
    #mw-content {
    }
}

//// Print Visibility styling
.printfooter, #siteSub{
    display: none; 
}
@media print{
    body { padding-top: 0 !important; }
    .printfooter, #siteSub{
        display: block; 
    }
    #footerPlaces, #footerIcons, .top-bar, .editsection, .toctoggle, #content-actions, #messageArea, .mw-editsection{
        display: none;
    }
}
