  <header id="nav" class="contain-to-grid">
    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
      <!-- Menu -->
      <ul class="left">
          {% for item, url in MENUITEMS %}
          <li>
            <a href="{{ url }}">{{ item|title }}</a>
          </li>
          {% endfor %}                    
          {% if DISPLAY_PAGES_ON_MENU != False %}
          {% if DISPLAY_PAGES_ON_MENU == 'Compact' %}
          <li class="has-dropdown"><a>Pages</a>
            <ul class="dropdown">
              {% for p in PAGES if not p.status == 'hidden' %}
              <li {% if p == page %} class='active'{% endif %}>
                <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}
          {% if DISPLAY_PAGES_ON_MENU == 'Expanded' %}
          {% for p in PAGES if not p.status == 'hidden' %}
          <li {% if p == page %} class='active'{% endif %}>
            <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
          </li>
          {% endfor %}
          {% endif %}
          {% endif %}
          {% if DISPLAY_CATEGORIES_ON_MENU != False %}
          {% if DISPLAY_CATEGORIES_ON_MENU == 'Compact' %}
          <li class="has-dropdown"><a>Categories</a>
            <ul class="dropdown">
              {% for cat, null in categories %}
              <li {% if cat == category %} class='active'{% endif %}>
                <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat.name }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}
          {% if DISPLAY_CATEGORIES_ON_MENU == 'Expanded' %}
          {% for cat, null in categories %}
          <li {% if cat == category %} class='active'{% endif %}>
            <a href="{{ SITEURL }}/{{ cat.url }}">{}{ cat.name }}</a>
          </li>
          {% endfor %}
          {% endif %}
          {% endif %}
          {% if DISPLAY_ARCHIVE_ON_MENU %}
          <li>
            <a href="{{ SITEURL }}/archives.html">Archives</a>
          </li>
          {% endif %}
        </ul>
        <!-- Social Links -->
        {% if SOCIAL %}
        <ul class="right">
          {% for network, url in SOCIAL %}
          <li><a href="{{ url }}" title="{{ network|title }}"><i class="huge icon-{{ network }}"></i></a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </section>
    </nav>
  </header>
