<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <!-- meta -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="{{ SITE_DESCR }}" />
  <meta name="keywords" content="{{ SITE_KEY }}" />
  <meta name="author" content="{{ AUTHOR }}" />
  
  <!-- title -->
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  
  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/app.css" />
  
  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICON }}" /> 

  <!-- RSS/ATOM -->
  {% if FEED -%}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
  {% endif %}
  {%if FEED_RSS -%}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  
  <!-- Modernizr -->
  <script data="{{ SITEURL }}/theme/js/vendor/" src="{{ SITEURL }}/theme/js/vendor/custom.modernizr.js"></script>
</head>
<body>
    <header class="fixed">
        <nav class="top-bar">
            <ul class="title-area">
                <!-- Title Area -->
                <li class="name">
                    <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
            <section class="top-bar-section">
                <!-- Menu -->
                <ul class="left">
                  {% for item, url in MENUITEMS %}
                  <li><a href="{{ url }}">{{ item|title }}</a></li>
                  {% endfor %}                    
                  {% if DISPLAY_PAGES_ON_MENU != False %}
                    {% if DISPLAY_PAGES_ON_MENU == 'Compact' %}
                        <li class="has-dropdown"><a href="">Pages</a>
                            <ul class="dropdown">
                                {% for p in PAGES %}
                                    <li {% if p == page %} class='active'{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                                {% endfor %}
                            </ul>
                    {% endif %}
                    {% if DISPLAY_PAGES_ON_MENU == 'Expanded' %}
                        {% for p in PAGES %}
                            <li {% if p == page %} class='active'{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                        {% endfor %}
                    {% endif %}
                    </li>
                  {% endif %}
                  {% if DISPLAY_CATEGORIES_ON_MENU != False %}
                    {% if DISPLAY_CATEGORIES_ON_MENU == 'Compact' %}
                    <li class="has-dropdown"><a href="{{ SITEURL }}/categories.html">Categories</a>
                            <ul class="dropdown">
                                {% for cat, null in categories %}
                                    <li {% if cat == category %} class='active'{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat.name|title }}</a></li>
                                {% endfor %}
                            </ul>
                    {% endif %}
                    {% if DISPLAY_CATEGORIES_ON_MENU == 'Expanded' %}
                        {% for cat, null in categories %}
                            <li {% if cat == category %} class='active'{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat.name|title }}</a></li>
                        {% endfor %}
                    {% endif %}
                    </li>
                  {% endif %}
                  <li><a href="{{ SITEURL }}/archives.html">Archives</a></li>
                </ul>
                <!-- Social Links -->
                <ul class="right">
                    {% if SOCIAL %}
                        {% include '_site_social.html' %}
                    {% endif %}
                </ul>
            </section>
        </nav>
    </header>
    <!-- Content Area -->
    <div class="row">
        <section class="large-9 columns">
            <header>
                <h1>{% block content_title %}{% endblock %}</h1>
            </header>
            {% block content %}
            <ul class="no-bullet">
                {% for article in articles_page.object_list %}
                <li><article>
                    <header><h1>{{ article.title|title }}</h1></header>
                    {{ article.summary }}
                    <footer>{{ article.author }}</footer>
                </article></li>
                {% endfor %}
            </ul>
            {% endblock %}
        </section>
        <aside class="large-3 columns">
            {% block aside %}{% endblock %}
        </aside>
    </div>
  <footer class="row">
    <div class="large-12 columns" id="footer">
      <span><a href="">&copy; {{ AUTHOR }} 2013</a></span>
    </div>
  </footer>
  <script src="{{ SITEURL }}/theme/js/app.js"></script>
  
  <!-- Tracking Code -->
  {% if GOOGLE_ANALYTICS %}
    {% include _google_analytics.html %}
  {% endif %}
  {% if GO_SQUARED %}
    {% include _gosquared.html %}
  {% endif %}
</body>
</html>
