<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
  <!--[if gt IE 8]><!--><html class="no-js" lang="{{ DEFAULT_LANG }}"> <!--<![endif]-->
<head>
  <!-- meta -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  {# Get a generic title element #}  
  {% set page_title = article.title if article else page.title if page else category.name if category else tag.name if tag else author.name if author else page_name|title %}
  {# fetch description, tags, author from article, page or CONFIGURATION file #}
  {% set page_descrip = article.summary|striptags if article else page.summary|striptags if page else PAGE_DESC[page_title.lower()]|default(SITE_DESCR) if PAGE_DESC else SITE_DESCR %}
  {% set page_tags = article.tags|join(', ') if (article and article.tags) else page.tags|join(', ') if (page and page.tags) else SITE_KEY %}
  {% set page_author = article.author if article else page.author if page else AUTHOR %}
  <meta name="description" content="{{ page_descrip }}" />
  <meta name="keywords" content="{{ page_tags }}" />
  <meta name="author" content="{{ page_author }}" />
  <meta name="organization" content="{{ SITENAME }}"/>
  <meta name="publisher" content="{{ SITENAME }}"/>
  <meta name="language" content="{{ DEFAULT_LANG }}" />

  <!-- title -->
  <title>{% block title %}{{ SITENAME }}{{ ' - '+page_title if not page_title.lower() =='index' }}{% endblock %}</title>
  <meta content="{{ SITEURL+'/'+output_file }}"/>
  
  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/app.css" />

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans' rel='stylesheet' type='text/css'> 
  
  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICON }}" /> 

  <!-- RSS/ATOM -->
  {% include '_feeds.html' %}

  <!-- Modernizr -->
  <script data="{{ SITEURL }}/theme/js/vendor/" src="{{ SITEURL }}/theme/js/vendor/custom.modernizr.js"></script>
</head>
<body>
  <!-- Navigation -->
  {% include '_navigation.html' %}
  <!-- Content Area -->
  <div class="row">
    <div id="main" class="large-13 columns push-3">
      <section>
        <header>
          {% block content_title %} 
          <h1><a href="{{ SITEURL+'/'+output_file }}" rel="bookmark" title="Bookmark to {{ page_title }}">{{ page_title if not page_title.lower()=='index' else SITENAME }}</a></h1>
          {% endblock %}
          <h2 class="print_header subheader">From: <a href="{{ SITEURL }}">{{ SITENAME }}</a></h2>
          {% block content_image %}{% endblock %}
        </header>
        {% block content %}
        <ul class="item-list">
          {% for article in articles_page.object_list %}
          {% include '_list_item.html' %}
          {% endfor %}
        </ul>
        {% if DEFAULT_PAGINATION and articles_paginator.num_pages>1 %}
        {% include '_pagination.html' %}
        {% endif %} 
        {% endblock %}
      </section>
    </div>
    <div id="mainAside" class="large-3 columns pull-13">
      <aside>
        {% block aside %}
        {% if GOOGLE_SEARCH %}
        {% include '_google_search.html' %}
        {% endif %}
        <h3>Blog Links</h3>
        <ul id='blogRoll' class="no-bullet">
          {% if INCLUDE_CATS_LINK %}
          <li><a href="{{ SITEURL }}/categories.html">Categories</a></li>
          {% endif %}
          {% if INCLUDE_TAGS_LINK %}
          <li><a href="{{ SITEURL }}/tags.html">Tags</a></li>
          {% endif %}
          {% if INCLUDE_ARCH_LINK %}
          <li><a href="{{ SITEURL }}/archives.html">Archives</a></li>
          {% endif %}
          {% if INCLUDE_AUTH_LINK %}
          <li><a href="{{ SITEURL }}/authors.html">Authors</a></li>
          {% endif %}
          {% for link in LINKS %}
          <li><a class="external" href="{{ link[1] }}">{{ link[0] }}</a></li>
          {% endfor %}
        </ul>
        {% endblock %}
      </aside>
    </div>
  </div>
  <footer class="row" >
    <div class="large-16 columns" id="mainFooter">
      <span class="print_footer"><a href="{{ SITEURL }}/{{ output_file }}"> Fetched from: {{ output_file }}</a> on {{ NOW.isoformat() }}</span>
      &copy;<span> {{ COPYRIGHT_HOLDER|default(AUTHOR) }} </span><span>{{ COPYRIGHT_YEAR }}</span>
    </div>
  </footer>
  <script src="{{ SITEURL }}/theme/js/app.js"></script>
  
  <!-- Tracking Code -->
  {% if GOOGLE_ANALYTICS %}
  {% include '_google_analytics.html' %}
  {% endif %}
  {% if GO_SQUARED %}
  {% include '_gosquared.html' %}
  {% endif %}

  <!-- Comment Count -->
  {% if DISQUS_SN %}
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '{{DISQUS_SN}}'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>
  {% endif %}
</body>
</html>
