{% extends 'base.html' %}
{% block content %}
<h2>Recent Articles by Category</h2>
{% for cat, articles in categories %}
<h3><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></h3>
<ul class="item-list" itemscope itemtype="http://schema.org/ItemList">
  <meta itemprop="name" content="{{ cat }} recent articles"/>
{% for article in articles[0:3] %}
{% include '_list_item.html' %}
{% endfor %}
<p><a href="{{ SITEURL }}/{{ cat.url }}">View all articles in {{ cat }}...</a></p>
</ul>
{% endfor %}
{% endblock %}

