{% extends 'base.html' %}
{% block content %}
<p>{{ SITE_DESCR }}</p>
{% if articles and ARTICLES_ON_INDEX %}
<h2>Recent Articles:</h2>
<ul class="item-list" itemscope itemtype="http://schema.org/ItemList">
<meta name="Recent Articles"/>
{% for article in articles[0:ARTICLES_ON_INDEX] %}
{% include '_list_item.html' %}
{% endfor %}
</ul>
<p><a href="{{ SITEURL }}/archives.html">View more articles in the Archives...</a></p>
{% endif %}
{% if pages and PAGES_ON_INDEX %}
<h2>Pages:</h2>
<ul class="inline-list">
{% for page in pages %}
  <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
