// 
// RangerTBC Style Components
//

// Scrollbar Component components/_scrollbar.scss
// Version: 0.1
// Created By: Andrew Senetar
// Date: May, 22 2013
// Used: Google+ Style as Starting Point

//// Variables

//// Mixins

// this was going to be more cool?
@mixin scrollbar(){
  ::-webkit-scrollbar{
    width: 12px;
    height: 12px;
  }
  ::-webkit-scrollbar-button,{
    height: 0;
    width: 0;
  }
  ::-webkit-scrollbar-track{
    border: solid transparent;
    background-color: #f5f5f5;
  }
  ::-webkit-scrollbar-track-piece  {
    background-color: #f5f5f5;
    @include box-shadow(inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 rgba(0,0,0,.07));
  }
  ::-webkit-scrollbar-thumb {
    min-height: 30px;
    background-color: rgba(0,0,0,0.2);
    border: none;
    @include box-shadow(inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07));
    &:hover{
      background-color: rgba(0,0,0,0.4);
    }
  }
}

//// Style

//scrollbar styling 
@include scrollbar();